#modal-lyrics{
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}
/**
body{
    overflow: hidden;
}*/

#modal-lyrics .card-modal{
  width: 40%;
  height:90%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  overflow-y: initial !important;
  -webkit-box-shadow: -1px -4px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -4px 15px 0px rgba(0,0,0,0.75);
  box-shadow: -1px -4px 15px 0px rgba(0,0,0,0.75);

  
}

#modal-lyrics .card-modal .header{
    
    background-color:rgba(18, 18, 18, 0.774);
    width: 100%;
    height: 20%;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}





#modal-lyrics .card-modal .header .imagen-song{
    width:  25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-lyrics .card-modal .header .imagen-song .box-imagen{
    width: 90px;
    height: 90px;
    -webkit-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
}



#modal-lyrics .card-modal .header .imagen-song .box-imagen img{
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    height: auto;
    
}

@supports(object-fit: cover){
    #modal-lyrics .card-modal .header .imagen-song img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

#modal-lyrics .card-modal .header .info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#modal-lyrics .card-modal .header .info .title{
    padding-top: 10%;
    text-align: left;
    width: 100%;
    height: 70%;
    line-height: 70%;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#modal-lyrics .card-modal .header .info .data{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    font-size: 15px;
    color:#cacaca;
    font-weight: 600;
}

#modal-lyrics .card-modal .header .media{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

#modal-lyrics .card-modal .header .media .spotify{
    width: 50%;
    height: 50%;
}

#modal-lyrics .card-modal .header .media .spotify .box-spotify{
    width: 40px;
    height: 40px;
}

#modal-lyrics .card-modal .header .media .spotify .box-spotify img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

@supports(object-fit: cover){
    #modal-lyrics .card-modal .header .media .spotify .box-spotify img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

#modal-lyrics .card-modal .header .media .youtube{
    width: 50%;
    height: 50%;
}

#modal-lyrics .card-modal .header .media .youtube .box-youtube{
    width: 40px;
    height: 40px;
}

#modal-lyrics .card-modal .header .media .youtube .box-youtube img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

@supports(object-fit: cover){
    #modal-lyrics .card-modal .header .media .youtube .box-youtube img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

#modal-lyrics .card-modal .header .close-modal{
    width: 5%;
    height: 100%;
    display: flex;
}

#modal-lyrics .card-modal .header .close-modal span{
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: rgb(232, 23, 23);
    text-align: center;
    font-size: 11px;
    color: #eeeeee;
    border-radius: 50%;
}






#modal-lyrics .card-modal .body{
    width: 100%;
    height: 80%;
    background-color: rgba(36, 36, 36, 0.639);
    overflow-y: auto;
    border-radius: 0 0 10px 10px;
}

#modal-lyrics .card-modal .body a{
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: rgb(226, 226, 226);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#modal-lyrics .card-modal .body p{
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: rgb(226, 226, 226);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Estilos scrollpara motores Webkit y blink (Chrome, Safari, Opera... )*/

.card-modal .body::-webkit-scrollbar {
    -webkit-appearance: none;

}

.card-modal .body::-webkit-scrollbar:vertical {
    width:10px;
}

.card-modal .body::-webkit-scrollbar-button:increment,.card-modal::-webkit-scrollbar-button {
    display: none;
} 

.card-modal .body::-webkit-scrollbar:horizontal {
    height: 10px;
}

.card-modal .body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 1px solid #1e1e1e;
}

.card-modal .body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }